<h2>About Us</h2>

<div class="card mb-3">
    <img src=<%= asset_path ("chanel_bags.jpg") %> class="card-img-top" alt="chanel bags">
    <div class="card-body">
      <h5 class="card-title">Who are we?</h5>
      <p class="card-text">
          Welcome and thank you for making the choice to purchase pre-loved luxury.
          We are a market place that prides itself on providing the opportunity for everyone to purchase luxury items and not feel bad about it!

          
          
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

<%= link_to 'To Wardrobe', product_listings_path, class:"btn btn-primary btn-lg" %>
