<h4>About</h4>

<div class="card mb-3">
    <img src="https://images.unsplash.com/photo-1592840054664-6bc0f6fbc3d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1112&q=80" class="card-img-top" alt="girl walking with bag">
    <div class="card-body">
      <h5 class="card-title">Who are we?</h5>
      <p class="card-text">
          Welcome and thank you for making the choice to purchase pre-loved luxury.
          We are a market place that prides itself on providing the opportunity for everyone to purchase luxury items and not feel bad about it.
          
          
      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

<%= link_to 'To Wardrobe', product_listings_path, class:"btn btn-primary btn-lg" %>
