<h2>Success!</h2>

<div class="column">
  <p>
    Thank you for your purchase!
    We will be in contact with you shortly
  </p>

  <%= render 'partials/productlistings' %> 
  
  <%= link_to 'Back to Wardrobe', product_listings_path, class: "btn btn-primary" %>
</div>
