.jumbotron{
    background-color: rgb(45, 45, 43);
}
.display-4 {
    color: whitesmoke;
}
.lead {
    color: whitesmoke;
}
.btn-primary {
    background-color: whitesmoke;
    color: rgb(45, 45, 43);
    border-color: whitesmoke;
}
a{
    color: rgb(45, 45, 43);
}
.title{
    text-align: center;
}
body{
    height: 95vh;
}

